<!--<!DOCTYPE html>
<html>
<head>
    <title>Уведомления</title>
</head>-->
<body>
    <style>
        .main_msg {
          visibility: hidden;
          background-color: blueviolet;
          width: 300px;
          margin-right: auto;
          margin-left: 0;
          right: 20px;
          padding: 5px;
          position: fixed;
        }
        .content {
          vertical-align: middle
          
        }
  
        .content p {
          color:aliceblue;
        }
      </style>
      
      <div class="main_msg" id="main_msg">
        <div class="content">
          <p id="db_notify"></p>
          <div>
            <!--button onclick="closePopup()">YES</button-->
            <form  method="POST">
                {% csrf_token %}
                <!--<button type="submit" name="update" onclick="closePopup()" id="returnNewValue">Принять</button>-->
                <button type="submit" name="update" onclick="closePopup()">Принять</button>
                <button onclick="closePopup()" name="returnOldValue" id="returnOldValue">Отклонить</button>
              </form>
            
            <div>
              <p>Смена значения:</p>
              старое <p id="old_value"></p>
              новое <p id="new_value"></p>
            </div>
          </div>
        </div>
      </div>

    <h2>Уведомления:</h2>
    <ul id="notifications">
        <li>test part of notifications</li>
        <li id="real"></li>
    </ul>
    <h2>old / new value</h2>
    <ul id="values_all">
        <li id="old"></li>
        <li id="new"></li>
    </ul>

    <script>
        var notificationsList = document.getElementById("notifications"); 
        const socket = new WebSocket("ws://127.0.0.1:8000/ws/chat/notifications/");

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var message = data.message;
            var old_value = data.old_value;
            var new_value = data.new_value;
            var table = data.table;
            var column = data.column;
            var str_id = data.str_id;

            var listItem = document.createElement("li");
            //var notify = document.getElementById("real");
            //notify.textContent = message;
            listItem.textContent = message;
            notificationsList.appendChild(listItem);

            var popup = document.getElementById("main_msg");
            var popupText = document.getElementById("db_notify");
            popupText.textContent = message;
            popup.style.visibility = "visible";

            var oldListItem = document.getElementById("old");
            var newListItem = document.getElementById("new");
            oldListItem.textContent = old_value//message;
            newListItem.textContent = new_value//message;

            var oldP = document.getElementById("old_value");
            var newP = document.getElementById("new_value");
            oldP.textContent = old_value//message;
            newP.textContent = new_value//message;

            var returnOldValue = document.getElementById("returnOldValue");
            //var returnNewValue = document.getElementById("returnNewValue");
            returnOldValue.value = old_value + ' '+ new_value + ' '+ table + ' ' + column + ' ' + str_id;

            // Удаление через 30 секунд после появления
            setTimeout(() => {
                if (listItem.parentNode) { 
                    listItem.remove();
                    popup.style.visibility = "hidden";
                }
            }, 30000); // 60 секунд
        };
    </script>

    <script>
        function closePopup() {
          var popup = document.getElementById('main_msg');
          popup.style.visibility = "hidden";
        }
      </script>
</body>
</html>
