<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Main page </title>
</head>
<body>
  <header>
    <style>
      .main_msg {
        visibility: visible;
        background-color: blueviolet;
        width: 300px;
        margin-right: 0;
        margin-left: auto;
        padding: 5px;
      }
      .content {
        vertical-align: middle
        
      }

      .content p {
        color:aliceblue;
      }
    </style>
    
    <div class="main_msg" id="main_msg">
      <div class="content">
        <p>GVggggvcfgh</p>
        <div>
          <button onclick="closePopup()">YES</button>
          <button onclick="closePopup()">NO</button>
        </div>
      </div>
    </div>

  </header>

  <h1> Main page </h1>
  <h2>{{data.0.name}}</h2>
  <ul>
    {% for i in data %}
      <li>{{i.id}} {{i.name}} {{i.number}}</li>
    {% endfor %}
    <p>Change data</p>
    <li>
      <form  method="POST">
        {% csrf_token %}
        <select id="select" name="select">
          {% for i in data %}
          <option value={{i.id}}>{{i.id}}</option>
          {% endfor %}
        </select>
        
        <input  type="text" id="name" name="name">
        <input  type="text" id="number" name="number">
        <button type="submit">Update</button>
        
      </form>
    </li>
  </ul>
  {% if post_data %}
  <p>{% for j in post_data %}
    {{j}}  
    {% endfor %}
  </p>
  {% endif %}
</body>

<script>
  var inpName = document.getElementById("name");
  var inpNum = document.getElementById("number");
  var select = document.getElementById("select");
  var selectIndex = select.options[select.selectedIndex];


  
  //inpNum.value = {{data.selectIndex.number}}
  //inpName.name = {{data.selectIndex.number}}
  // select
</script>
<script>
  function closePopup() {
    var popup = document.getElementById('main_msg')
    popup.style.visibility = "collapse"
  }
</script>
</html>